body {
  background-color: #ffe6eb;
  background-image: url("https://www.transparenttextures.com/patterns/hearts.png");
  background-repeat: repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;

  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 45px;
  border-radius: 25px;
  text-align: center;
  max-width: 800px;
  width: 95%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  animation: pop 0.6s ease;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  color: #ff4d6d;
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #444;
}

button {
  margin-top: 25px;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #ff4d6d, #ff758c);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.hearts span {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp 6s infinite ease-in;
  opacity: 0.5;
}

.hearts span:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}
.hearts span:nth-child(2) {
  left: 30%;
  animation-delay: 2s;
}
.hearts span:nth-child(3) {
  left: 50%;
  animation-delay: 4s;
}
.hearts span:nth-child(4) {
  left: 70%;
  animation-delay: 1s;
}
.hearts span:nth-child(5) {
  left: 90%;
  animation-delay: 3s;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(-110vh) scale(1.5);
    opacity: 0;
  }
}


  p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.photos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.photos img{
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
  background:#fff;
}
.next-btn{
  display:inline-block;
  margin-top:25px;
  padding:12px 26px;
  background:linear-gradient(135deg,#ff4d6d,#ff8fa3);
  color:white;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
}




